/* Reset CSS
 * --------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, table, tbody, tr, th, td, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
  display: block;
}
*{
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
  margin:0;
  padding:0;
}
a{
	text-decoration:none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
fieldset,img {
  border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-weight: normal;
  font-style: normal;
}
q:before,q:after {
  content:'';
}
input, select {
  vertical-align:middle;
  margin: 0;
  outline: none;
  outline-offset: 0;
  border-radius: 0;
}
input[type="text"]:focus,textarea:focus {
  outline: none; 
  outline-offset: 0;
}
a {
	display: inline-block;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
span,i{
  display: inline-block;
}
a,
ul,
article,
section,
div{
  vertical-align: top;
}
button{
  border: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
/**
 * 1. Improve readability when focused and also mouse hovered in all browsers.
 * 2. Address `outline` inconsistency between Chrome and other browsers.
 */
a:active,
a:hover,
a:focus {
  /* 2 */
  outline: 0;
}